<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Bienvenido</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/SGI/static/css/coremin.css" type="text/css" />
<link rel="stylesheet" href="/SGI/static/css/themeStandar.css" type="text/css" />
<link rel="stylesheet" href="/SGI/static/js/jqueryui.js" type="text/css" />

  <link rel="stylesheet" href="/SGI/static/css/fontApex.css" type="text/css" />
<link rel="stylesheet" href="/SGI/static/css/usbmed.css" type="text/css" />
<link rel="stylesheet" href="/SGI/static/css/coremin2.css" type="text/css" />

  
  <link rel="stylesheet" href="/SGI/static/css/general.css" type="text/css" />

  
  <style type="text/css">
.t-Body {
    background: #faf5f1 url(/SGI/static/img/principales/fondo.jpg) top center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}
</style>

  <link rel="shortcut icon" href="/i/favicon.ico">
<link rel="icon" sizes="16x16" href="/i/favicon-16x16.png">
<link rel="icon" sizes="32x32" href="/i/favicon-32x32.png">
<link rel="apple-touch-icon" sizes="180x180" href="/i/favicon-180x180.png">
  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" content="no-cache" /><meta http-equiv="Expires" content="-1" /><meta http-equiv="Cache-Control" content="no-cache" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body class="t-PageBody--login no-anim   apex-side-nav apex-icons-fontapex"  >
<form action="wwv_flow.accept" method="post" name="wwv_flow" id="wwvFlowForm" novalidate  autocomplete="off">
<input type="hidden" name="p_flow_id" value="105" id="pFlowId" /><input type="hidden" name="p_flow_step_id" value="101" id="pFlowStepId" /><input type="hidden" name="p_instance" value="2954394713821" id="pInstance" /><input type="hidden" name="p_page_submission_id" value="182654240168229703159495346797803858080" id="pPageSubmissionId" /><input type="hidden" name="p_request" value="" id="pRequest" /><input type="hidden" name="p_reload_on_submit" value="S" id="pReloadOnSubmit" /><input type="hidden" value="182654240168229703159495346797803858080" id="pSalt" /><div class="t-Body">
  <div id="R43103092905542048"  class="t-BreadcrumbRegion t-BreadcrumbRegion--showBreadcrumb t-BreadcrumbRegion--useBreadcrumbTitle"> 
  <div class="t-BreadcrumbRegion-body">
    <div class="t-BreadcrumbRegion-breadcrumb">
      <ul class="t-Breadcrumb "></ul>
    </div>
    <div class="t-BreadcrumbRegion-title">
      <h1 class="t-BreadcrumbRegion-titleText">Portales de Gestión</h1>
    </div>
  </div>
  <div class="t-BreadcrumbRegion-buttons"></div>
</div>
  <span id="APEX_SUCCESS_MESSAGE" data-template-id="36164917023332729_S" class="apex-page-success u-hidden"></span><span id="APEX_ERROR_MESSAGE" data-template-id="36164917023332729_E" class="apex-page-error u-hidden"></span>
  <div class="t-Body-wrap">
    <div class="t-Body-col t-Body-col--main">
      <div class="t-Login-container">
      <div class="container">
<div class="row">
<div class="col col-12 " >
<div class="t-Login-region t-Form--stretchInputs t-Form--labelsAbove " id="R36215694623332836" >
  <div class="t-Login-header" style="padding-top: 1px;">
    <img src="/SGI/static/img/principales/logoUSB.png" style="max-width:100%">
    <h1 class="t-Login-title" id="R36215694623332836_heading"><p style="color:orange"><b>Bienvenidos</b><p></h1>
  </div>
  <div class="t-Login-body">
    <p>Ingrese los siguientes campos para poder iniciar sesión en el sistema. Si no tiene o no recuerda la contraseña, por favor, haga clic en <i><b>Solicitar contraseña</b></i>.</p><div class="t-Form-fieldContainer t-Form-fieldContainer--hiddenLabel rel-col " id="P101_USERNAME_CONTAINER"><div class="t-Form-labelContainer t-Form-labelContainer--hiddenLabel col col-null">
<label for="P101_USERNAME" id="txtId" class="t-Form-label u-VisuallyHidden">usuario</label>
</div><div class="t-Form-inputContainer col col-null"><div class="t-Form-itemWrapper"><input type="text"  id="txtEmail" name="txtEmail" required aria-required="true" placeholder="N&#xFA;mero&#x20;de&#x20;identificaci&#xF3;n" class="text_field&#x20;apex-item-text&#x20;apex-item-has-icon" value="menesesitas@gmail.com" size="40" maxlength="100"  /><span class="apex-item-icon fa&#x20;fa-user" aria-hidden="true"></span></div><span id="P101_USERNAME_error_placeholder" class="a-Form-error" data-template-id="36203787454332766_ET"></span></div></div><div class="t-Form-fieldContainer t-Form-fieldContainer--hiddenLabel rel-col " id="P101_PASSWORD_CONTAINER"><div class="t-Form-labelContainer t-Form-labelContainer--hiddenLabel col col-null">
<label for="P101_PASSWORD" id="txtContrasena" class="t-Form-label u-VisuallyHidden">contraseña</label>
</div><div class="t-Form-inputContainer col col-null"><div class="t-Form-itemWrapper"><input type="password" name="txtContrasena" size="40" maxlength="100" value=""  id="txtContrasena" required aria-required="true" placeholder="Contrase&#xF1;a" class="password&#x20;apex-item-text&#x20;apex-item-has-icon"  onkeypress="return apex.submit({request:'P101_PASSWORD',submitIfEnter:event})"  /><span class="apex-item-icon fa&#x20;fa-key" aria-hidden="true"></span></div><span id="P101_PASSWORD_error_placeholder" class="a-Form-error" data-template-id="36203787454332766_ET"></span></div></div>
  </div>
  <div class="row mb-3 px-3">
    <input type="submit" id="btnLogin" name="btnLogin" value="Login" class="btn btn-blue text-center" />
</div>
<div class="t-Login-links">
    
  </div>
  
</div>
</div>
</div>
</div>
      </div>
    </div>
  </div>
</div><input type="hidden" id="pPageItemsRowVersion" value="" /><input type="hidden" id="pPageItemsProtected" value="69DcqhlV6bAvqG6I4LxofQ" /></form>


<script type="text/javascript">
var apex_img_dir = "/i/", htmldb_Img_Dir = apex_img_dir;
</script>

<!--[if lt IE 9]><script type="text/javascript" src="/i/libraries/jquery/1.12.3/jquery-1.12.3.min.js?v=5.1.4.00.08"></script><![endif]-->
<!--[if gte IE 9]><!--><script type="text/javascript" src="/js/jquerymin.js"></script><!--<![endif]-->
<script type="text/javascript" src="/SGI/static/js/desktop.js"></script>
<script type="text/javascript" src="/SGI/static/js/messages.js"></script>


<script type="text/javascript" src="/SGI/static/js/hammer.js"></script>
<script type="text/javascript" src="/SGI/static/js/tabs.js"></script>
<script type="text/javascript" src="/SGI/static/js/widgetSticky.js"></script>
<script type="text/javascript" src="/SGI/static/js/tableHeader.js"></script>
<script type="text/javascript" src="/SGI/static/js/modernizCustom.js"></script>
<script type="text/javascript" src="/SGI/static/js/theme42.js"></script>



  



<script type="text/javascript" src="/SGI/static/js/interactive.js"></script>
<script type="text/javascript" src="/SGI/static/js/widgetTree.js"></script>
<script type="text/javascript" src="/SGI/static/js/carousel.js"></script>

  



<script type="text/javascript" src="/js/interactive.js"></script>
<script type="text/javascript" src="/js/widgetTree.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>



  










<script type="text/javascript">
apex.jQuery( document ).ready( function() {
(function(){
var lTimeoutField = document.getElementById("apex_login_throttle_sec"),
    lTimeout      = lTimeoutField ? +lTimeoutField.innerHTML : 0;
if (lTimeout) {
    var lTimer = window.setInterval (
        function() {
            if (lTimeout > 0) {
                lTimeoutField.innerHTML = lTimeout;
                lTimeout--;
            } else {
                window.clearInterval(lTimer);
                var lDiv = document.getElementById("apex_login_throttle_div");
                if (lDiv) {
                    lDiv.parentNode.removeChild(lDiv);
                    return true;
                }
            }
        },
        1000 );
}})();
apex.theme42.initializePage.appLogin();

apex.item( 'P101_USERNAME' ).setFocus();
});</script>

</body>
</html>